<div class="flex flex-col h-full">
    <div class="flex justify-between w-full py-6 border-b border-[#B9CDE9]">
        <div class="flex px-10">
            <img alt="image" class="mr-6 rounded-full  w-16 h-16"src="../../../assets/images/blossom.png">
            <div >
                <p class="text-2xl font-bold text-[#0119B6]">Samantha William</p>
                <p>Online</p>
            </div>
        </div>
        <div>
            <svg class="not mr-10" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128zM559.1 99.8c10.4 5.6 16.9 16.4 16.9 28.2V384c0 11.8-6.5 22.6-16.9 28.2s-23 5-32.9-1.6l-96-64L416 337.1V320 192 174.9l14.2-9.5 96-64c9.8-6.5 22.4-7.2 32.9-1.6z"/></svg>
            <svg class="not mr-10" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
        </div>

    </div>
    <!-- <hr class="w-full border-t border-[#B9CDE9] mb-8 "> -->
    <div class="overflow-y-auto px-10 flex-grow">
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
        <p>Hello Nabila</p>
        <p>Hello Dr Samantha</p>
    </div>
    <div class="border-t border-[#B9CDE9] py-8">
        <!-- <hr class="w-full  mb-8 "> -->
        <div class="w-[93.07%] h-20 m-auto flex justify-between items-center py-6 pl-8 pr-2 border rounded-full border-[#a098ae]">
            <input class="  " placeholder="Write your message...">
            <button class="bg-[#458FF6] flex justify-evenly items-center rounded-full w-[14.98%] h-14 text-white text-lg font-semibold">Send
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                    <path d="M4.52444 5.34375L4.96144 7.21875L6.90044 15.9998L4.96044 24.7808L4.52344 26.6558L6.30444 25.9378L28.3044 16.9378L30.5864 15.9998L28.3054 15.0618L6.30544 6.06175L4.52444 5.34375ZM7.30544 8.65575L22.8364 14.9998H8.71144L7.30544 8.65575ZM8.71144 16.9998H22.8364L7.30544 23.3438L8.71144 16.9998Z" fill="white"/>
                  </svg>
            </button>
        </div>


    </div>

</div>
