<div class="flex m-auto w-[80.49%] h-[600px] mt-20">
    <div class=" w-half flex justify-center items-center">
        <div class="w-[70.49%] ">
        <p class="text-5xl font-bold">Virtual Healthcare for you</p>
        <p class="text-xl font-light">Ayeboafo provides progressive and affordable healthcare,accessible on mobile and online for everyone</p>
    </div>
    </div>
    <div class=" w-half ">
        
        <img class="" src="../../../assets/images/virtualdoc.jpg">
    </div>
</div>


