<div class="flex w-[78.34%] m-auto mt-64 gap-[11.15%] h-[477px] ">
    <img src="../../../assets/images/Rectangle 11.png">
    <div class="flex flex-col mt-10 w-[37.78%]">
        <p class="text-4xl font-bold ">Leading healthcare providers</p>
        <hr class="w-14 border-black my-8 border-2">
        <p class="text-[#7d7987] font-light text-lg">Ayeboafo provides progressive, and affordable healthcare, accesible on mobile and online for everypne. To us, its not just work. We take pride in the solutions we deliver</p>

    </div>

</div>
