<app-users-header [title]="'Add New Doctor'"></app-users-header>

<div class="w-full ">
    <div class="bg-[#458ff6]">
        <div>
            <p class="text-white">Personal Details</p>
        </div>
        <div class="bg-white w-full pl-10">
            <form>
               <div class="flex w-full gap-10 py-6">
                <div class="w-[41.83%]">
                    <label class="mb-4 text-[#0119b6] text-lg font-semibold">First Name</label>
                    <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="Esi">
                    <label class="mb-4 text-[#0119b6] text-lg font-semibold">Email</label>
                    <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="boafo@gmail.com">
                    <label class="mb-4 text-[#0119b6] text-lg font-semibold">Address</label>
                    <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ">
                    <label class="mb-4 text-[#0119b6] text-lg font-semibold">Date of Birth</label>
                    <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="24 February 1997">
                </div>
                <div class="w-[41.83%]">
                    <label class="mb-4 text-[#0119b6] text-lg font-semibold">Last Name</label>
                    <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="Boafo">
                    <label class="mb-4 text-[#0119b6] text-lg font-semibold">Phone</label>
                <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="+23345678990">
                <label class="mb-4 text-[#0119b6] text-lg font-semibold">Photo</label>
                <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="Esi">
                <label class="mb-4 text-[#0119b6] text-lg font-semibold">Place of Birth</label>
                <input class="w-full border border-[#b9cde9] rounded-md p-3" placeholder="Ho">
                </div>
                
                
               
                
               
                
               
                
               </div>
            </form>
            
        </div>
      
    </div>

</div>